* {
    box-sizing: border-box;
}

.menu{
    display: flex;
    justify-content: center;
}

.fullWidth {
    display: flex;
    justify-content: center;
}
#container {
    width: 960px;
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
